## Data Revision

In [26]:
##Libraries are imported

import pandas as pd
import numpy as np
import os

In [27]:
##Path for the data set is created
path=r'C:\Users\Ida\Desktop\Fashion Project'

In [44]:
##Data set is imported
df = pd.read_csv(os.path.join(path, 'Data Source', 'mock_fashion_data_uk_us.csv'), index_col = False)

In [45]:
##Data set is displayed
df.head()

,Product Name,Price,Brand,Category,Description,Rating,Review Count,Style Attributes,Total Sizes,Available Sizes,Color,Purchase History,Age,Fashion Magazines,Fashion Influencers,Season,Time Period Highest Purchase,Customer Reviews,Social Media Comments,feedback
0,T5D3,97.509966,Ralph Lauren,Footwear,Bad,1.421706,492,Streetwear,"M, L, XL",XL,Green,Medium,24,Vogue,Chiara Ferragni,Fall/Winter,Daytime,Mixed,Mixed,Other
1,Y0V7,52.341277,Ted Baker,Tops,Not Good,1.037677,57,Vintage,"M, L, XL",XL,Black,Above Average,61,Glamour,Leandra Medine,Winter,Weekend,Negative,Neutral,Other
2,N9Q4,15.430975,Jigsaw,Footwear,Very Bad,3.967106,197,Streetwear,"S, M, L",M,Blue,Average,27,Marie Claire,Gigi Hadid,Summer,Nighttime,Unknown,Negative,Neutral
3,V2T6,81.116542,Alexander McQueen,Outerwear,Not Good,2.844659,473,Formal,"S, M, L",L,Red,Very High,50,Marie Claire,Chiara Ferragni,Fall/Winter,Weekend,Neutral,Other,Other
4,S7Y1,31.633686,Tommy Hilfiger,Bottoms,Very Good,1.183242,55,Sporty,"M, L, XL",S,Green,Above Average,23,Glamour,Song of Style,Spring,Daytime,Positive,Mixed,Positive

In [47]:
## Data frame is checked for the null values
df.isnull().sum()

Product Name                    0
Price                           0
Brand                           0
Category                        0
Description                     0
Rating                          0
Review Count                    0
Style Attributes                0
Total Sizes                     0
Available Sizes                 0
Color                           0
Purchase History                0
Age                             0
Fashion Magazines               0
Fashion Influencers             0
Season                          0
Time Period Highest Purchase    0
Customer Reviews                0
Social Media Comments           0
feedback                        0
dtype: int64

In [48]:
##Data frame is checked for the duplicates
df_dups = df[df.duplicated()]

In [49]:
df_dups

Empty DataFrame
Columns: [Product Name, Price, Brand, Category, Description, Rating, Review Count, Style Attributes, Total Sizes, Available Sizes, Color, Purchase History, Age, Fashion Magazines, Fashion Influencers, Season, Time Period Highest Purchase, Customer Reviews, Social Media Comments, feedback]
Index: []

In [50]:
## Unnecessary columns are dropped
df_clean = df.drop(columns = ['Available Sizes'])

In [51]:
df_clean=df_clean.drop(columns=['Description'])

In [52]:
df_clean.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000000 entries, 0 to 999999
Data columns (total 18 columns):
 #   Column                        Non-Null Count    Dtype
---  ------                        --------------    -----
 0   Product Name                  1000000 non-null  object
 1   Price                         1000000 non-null  float64
 2   Brand                         1000000 non-null  object
 3   Category                      1000000 non-null  object
 4   Rating                        1000000 non-null  float64
 5   Review Count                  1000000 non-null  int64
 6   Style Attributes              1000000 non-null  object
 7   Total Sizes                   1000000 non-null  object
 8   Color                         1000000 non-null  object
 9   Purchase History              1000000 non-null  object
 10  Age                           1000000 non-null  int64
 11  Fashion Magazines             1000000 non-null  object
 12  Fashion Influencers           1000000 non-null  object
 13  Season                        1000000 non-null  object
 14  Time Period Highest Purchase  1000000 non-null  object
 15  Customer Reviews              1000000 non-null  object
 16  Social Media Comments         1000000 non-null  object
 17  feedback                      1000000 non-null  object
dtypes: float64(2), int64(2), object(14)
memory usage: 137.3+ MB

In [53]:
df_clean.shape

(1000000, 18)

In [55]:
df_clean.to_csv(os.path.join(path, 'Data Source', 'mock_fashion_data_uk_new.csv'))

In [ ]:
# Create a subset excluding the "Date" and "No" columns

sub = df[['House age', 'D. metro', 'N. shops', 'Latitude','Longitude', 'Price per unit']]